//Theme colors map override of which all must be set
$secondary: #f18805;
$primary: #002C42;
$success: #A2B43F;
$info: #56B4D6;
$warning: #CEA54E;
$danger: #c25451;
$light: #e4e4e7;
$dark: #454555;

